/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the directory for the theme root used to locate images, fonts etc.
$theme-root: '..';

// Set other directories relative to theme root.
$image-path: '#{$theme-root}/images';
$icon-font-path: '#{$theme-root}/bootstrap/assets/fonts/bootstrap/';



/**
 * Variables can be found at:
 * cyclingukd9/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 * https://bootstrapvars.com
 */

 // Large-ish desktop width
 $screen-large-ish: 1600px;


// Cycling UK colour palette
$blue: 		#007faf;
$yellow: 	#f0b257;
$purple: 	#8064a9;
$pink:		#e6007e;
$green:		#cdce00;
$gray:		#3b3b3a;
$black:		#000000;
$white:		#ffffff;

// Cycling UK breakpoint variables pulled from cyclinguk5 theme 02/2022. These are the three primary ones we want to stick to.
$cuk-breakpoint-sm: 576px;
$cuk-breakpoint-md: 768px;
$cuk-breakpoint-xl: 1200px;

// Additional breakpoint variables to follow bootstrap 5, however only use if truly needed. That's the plan anyway.
$cuk-breakpoint-xs: 0px;
$cuk-breakpoint-lg: 992px;
$cuk-breakpoint-xxl: 1600px;

// Experience colour palette overrides
// $blue: 		#003399;  		// EU flag blue
// $yellow: 	#ffcc00;  // EU flag yellow
// $purple: 	#8566ff;
// $pink:			#990f50;
// $green:		#354d04;



// Tints
$blue-light: 			lighten($blue,75%);
$blue-lighter: 		lighten($blue,50%);
// $blue-lightest: 	lighten($blue,25%);
// $blue-light: 			#409fc3;
// $blue-lighter: 		#7fbfd7;
$blue-lightest: 	#c0e7f6;
$yellow-light: 		lighten($yellow,75%);
$yellow-lighter: 	lighten($yellow,50%);
$yellow-lightest: lighten($yellow,25%);
$purple-light: 		lighten($purple,75%);
$purple-lighter: 	lighten($purple,50%);
$purple-lightest: lighten($purple,25%);
$pink-light: 			lighten($pink,75%);
$pink-lighter: 		lighten($pink,50%);
$pink-lightest: 	lighten($pink,25%);
$green-light: 		lighten($green,75%);
$green-lighter: 	lighten($green,50%);
$green-lightest: 	lighten($green,25%);
// $gray-light: 		lighten($gray,75%);
// $gray-lighter: 	lighten($gray,50%);
// $gray-lightest: 	lighten($gray,25%);
$gray-light:		#6c6c6b;
$gray-lighter: 	#9d9d9c;
$gray-lightest:	#cecece;
$grey-webform-field: #e1e2e3;
$grey-super-light: #f1f1f1;

$text-black: #333333;

$primary: $blue;
$secondary:	$yellow;
$body-bg: 	$white;



// Fonts
$font-family-sans-serif: "Karla";
$font-family-base: $font-family-sans-serif;
$font-size-base: 18px;
// $line-height-base: 1.375;
//** Opening up the line height 
$line-height-base:       1.5; // 1.428571429 !default; // 20/14

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-sm: $font-size-base * .875;

$headings-font-family: "ff-cocon-web-pro";
$headings-font-weight: 400;

$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;



// Font Awesome
$fa-font-path: "../webfonts";



// Hyperlinks
$link-color: $black;
$link-decoration: underline;
$link-hover-color: $yellow;
$link-hover-decoration: underline;



// Buttons
$btn-info-color:	$black;
$btn-info-bg:			$yellow;
$btn-info-border:	$yellow;
$btn-border-radius-base: 10px;



// Panels
$panel-default-text:        $white;
$panel-default-border:      $blue;
$panel-default-heading-bg:	$blue;



// Forms
$input-border:        			$black;
$input-border-focus:  			$yellow;
$input-color:								$black;
$input-color-placeholder:		$gray-light;
$input-border-radius:				25px;



// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                $white !default;
$navbar-default-border:            $white !default;

// Navbar links
$navbar-default-link-color:                $black !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

// Image border radius
$border-radius-img: 10px;


