.page-node-type-route {
	.route-type {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: $font-weight-bold;
		font-size: larger;
	}

	.gpx-download {
		.file {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: inherit;
			width: 100%;
			font-weight: $font-weight-normal;

			> span {
				display: block;
				text-align: center;
				background: inherit;
				color: $black;
				border: none;
			}

			.file-icon {
				font-size: 250%;
				padding: 0;
			}

			.file-icon:before {
				content: "Download this GPX";
				display: block;
				text-align: center;
				font-family: $headings-font-family;
				font-size: large;
			}

			.file-link a {
				font-size: smaller;
				text-decoration: underline;
			}

			> .file-link,
			> .file-size {
				display: none;
			}
		}
	}

	.gpx-download-file {
		display: flex;
		align-items: center;
		justify-content: center;
		//text-decoration: underline;
		width: 100%;
		margin-bottom: 60px;
	}

	.right-column.outer-wrapper {
		background-color: inherit;
	}
}

.route-detail.route-length,
.route-detail.ride-level,
.route-detail.bike-type {
	display: flex;
	background-color: $purple;
	color: $white;
	align-items: center;
	width: 200px;
	height: 200px;
	margin: 0 auto 30px !important;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.route-detail-wrapper {
	display: inline-flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	width: 200px;

	.svg-inline--fa {
		font-size: 40px;
		line-height: 42px;
		margin-bottom: 14px;
	}

	i {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 10px;
	}

	.field--label {
		text-transform: uppercase;
		font-size: 16px;
		line-height: 16px;
		font-weight: 400;
		letter-spacing: 1px;
		margin-bottom: 6px;
	}

	.field--item {
		font-family: $headings-font-family;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 12px;
	}
}

.route-detail.route-features .field--label {
	font-family: $headings-font-family;
	font-size: 22px;
	line-height: 22px;
	margin-top: 45px;
	margin-bottom: 10px;
}

.poi-feature-item {
	.poi-feature-wrapper {
		display: inline-flex;
		flex-direction: row;
		align-items: center;

		.poi-feature-icon {
			border: 1px solid $black;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			margin-right: 10px;

			img {
				width: 40px;
				height: 40px;
				padding: 10px;
			}
		}

		.poi-feature-label {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 16px;
			line-height: 16px;
		}
	}
}

.route-disclaimer {
	background-color: $blue-lightest;
	border-radius: 10px;
	margin: 30px 0;
	padding: 0 15px 15px 15px;
	font-size: 14px;

	p {
		line-height: 1.4;
		margin: 0 0 8px;
	}

	.btn-primary {
		background-color: $blue;
		border-color: $blue;
		color: $white;

		&:hover,
		&:focus {
			background-color: darken($blue, 10%);
			border-color: darken($blue, 10%);
			color: $white;
		}
		&:active,
		&:active:hover,
		&:active:focus {
			background-color: darken($blue, 20%);
			border-color: darken($blue, 20%);
			color: $white;
		}
	}

	a {
		margin: 0;

		i {
			margin-right: 5px;
		}
	}
}

form.webform-submission-report-this-route-form {
	.form-item-node-url,
	.form-item-node-title {
		display: none;
	}
}

#report-this-route a.btn-primary svg {
	padding-right: 12px;
}
