table {
	margin-top: 30px;
	margin-bottom: 30px;


	thead {
		border: 1px solid $purple;
		background-color: $purple;
		color: $white;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		
		tr th,
		tr td {
			font-size: inherit;
			padding: 16px 8px;
			border-top: 1px solid $gray-lightest;
			border-bottom: inherit;
			border-left: 1px solid $gray-lightest;
			border-right: inherit;
		}
		
		th {
			text-align: left;
		}
		
		th a {
			color: $white;
			text-decoration: none;
		}
		
		th a:hover,
		th a:focus {
			color: $white;
			text-decoration: underline;
		}
		
		th.active a {
			color: $white;
			text-decoration: none;
		}		
	}
	
	tbody {
		border: 1px solid $gray-lightest;
		
		tr th,
		tr td {
			font-size: inherit;
			padding: 8px;
			border-top: 1px solid $gray-lightest;
			border-bottom: inherit;
			border-left: 1px solid $gray-lightest;
			border-right: inherit;
			text-align: left;
		}
	}
	
	tfoot {
		border: 1px solid $gray-lightest;
		background-color: $gray-lighter;

		tr th,
		tr td {
			font-size: smaller;
			padding: 8px;
			border-top: 1px solid $gray-lightest;
			border-bottom: inherit;
			border-left: 1px solid $gray-lightest;
			border-right: inherit;
			text-align: left;
		}	
	}
}


.table > thead > tr > th {
	border-bottom: none;
}

.table-striped > tbody > tr {
	background-color: $white;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}



/*
@media screen and (min-width: 768px) and (max-width: 991px) {
	table thead tr th {
		font-size: 14px;
		line-height: 16px;
	}
	table tbody tr th,
	table tfoot tr th,
	table tbody tr td,
	table tfoot tr td {
		font-size: 12px;
		line-height: 14px;
		padding: 4px;
	}
}

@media screen and (min-width: 450px) and (max-width: 767px) {
	table thead tr th {
		font-size: 14px;
		line-height: 16px;
	}
	table tbody tr th,
	table tbody tr td {
		font-size: 14px;
		line-height: 16px;
		padding: 6px;
	}
	table tfoot tr th,
	table tfoot tr td {
		font-size: 12px;
		line-height: 16px;
		padding: 6px;
	}
}

@media screen and (max-width: 449px) {
	table thead tr th {
		font-size: 14px;
		line-height: 16px;
	}
	table tbody tr th,
	table tbody tr td {
		font-size: 10px;
		line-height: 12px;
		padding: 4px;
	}
	table tfoot tr th,
	table tfoot tr td {
		font-size: 10px;
		line-height: 12px;
		padding: 4px;
	}
}
*/