.views-entity-embed {
    font-weight: bold;
    .view-related-embed-blocks {
        padding-bottom: 1rem;
        .view-content {
            ul {
                padding-left: 1rem;
                list-style-type: square;
            }
        }
    }
}