{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * 
#}
{%
  set classes = [
    'container',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set col_count = content.field_col_count['#items'].0.value %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}> 
    <div class="row">
      <section class="paragraph-content">
        {% block content %}
          {% if content.field_title.0 is not empty %}
            <h2 class="paragraph-title mb-3 mb-lg-4">{{ content.field_title.0 }}</h2>
          {% endif %}
          <div class="{{ col_count }}">
            {{ content.field_text }}
          </div>

        {% endblock %}
      </section>
    </div>
    
  </div>
{% endblock paragraph %}
