.webform-wrapper section {
    background: #f8f9fa;
    padding: 0.6em 0.8em;
}

.webform-wrapper section h2,
.webform-wrapper section .h2 {
    font-size: 1.4rem;
}

.webform-wrapper .webform-multiple-table {
    margin-bottom: 1.5em;
}

.webform-wrapper .webform-multiple-table th {
    font-size: 1rem;
}

.webform-wrapper .webform-has-field-prefix input.form-control {
    display: inline;
    padding: 0.375rem 0.75rem;
}

.webform-wrapper .event-entry-wrap select {
    width: auto;
}

.webform-wrapper .event-entry-wrap .webform-multiple-table td .form-type-textfield input.form-control {
    width: 140px;
}

.webform-wrapper .event-entry-wrap .table > :not(caption) > * > * {
    padding: 0.25rem 0.5rem;
}

.webform-wrapper .event-entry-wrap input[type="date"] {
    width: 124px;
    background-color: #e9ecef;
    border: 1px solid #e9ecef;
    padding: 0.375rem 0 0.375rem 0.35rem;
    border-radius: 7px;
}

.webform-wrapper .event-entry-wrap .form-type-webform-time input {
    width: 84px;
    background-color: #e9ecef;
    border: 1px solid #e9ecef;
    padding: 0.375rem 0 0.375rem 0.35rem;
    border-radius: 7px;
}

.webform-wrapper .delivery-wrap .form-type-number label {
    font-weight: normal;
}

.webform-wrapper .delivery-wrap .form-type-number input.form-control {
    width: 90px;
    padding: 0.375rem 0.75rem;
}

.webform-wrapper .delivery-wrap .form-type-textfield label {
    font-weight: normal;
    width: 122px;
}

.webform-wrapper .delivery-wrap .form-type-textfield input {
    display: inline;
    width: auto;
}

.webform-wrapper .delivery-wrap .form-type-textfield input.form-control {
    border-width: 1px;
    width: 196px;
    padding: 0.375rem 0.75rem;
}

.section-staff-costs .webform-has-field-prefix input.form-control {
    display: inline;
    padding: 0.375rem 0.75rem;
}

.section-staff-costs .webform-has-field-prefix .webform-multiple-table td .form-type-textfield input {
    width: 100px;
}

.section-staff-costs .webform-has-field-prefix .form-type-textfield input.form-control {
    border-width: 1px;
    width: 196px;
    padding: 0.375rem 0.75rem;
}

.section-staff-costs .webform-has-field-prefix .form-type-number input.form-control {
    width: 90px;
    padding: 0.375rem 0.75rem;
}

.section-staff-costs .webform-section-wrapper .webform-multiple-table td .form-type-textfield input {
    width: 220px;
}

.section-staff-costs .webform-section-wrapper .fieldset-legend {
    font-weight: bold;
}
